.form-control {
  display: inline;
}

.form-select {
  max-width: 110px;
  margin: 0 20px 0 10px;
}

.form-number {
  max-width: 80px;
  margin: 0 20px 0 10px;
}

.form-submit {
  max-width: 100px;
  background-color: #61DAFB;
  border: none;
  transition: all linear 0.2s;
}

.form-submit:hover {
  background-color: #0abde3;
}
